@model List<Genre>

<div class="container">
    Admin Panel
    <div class="row">
        <div class="col-6">
            <a asp-area="AdminPanel" asp-controller="NovelPanel" asp-action="UpsertNovel"><button class="btn btn-primary w-100">Add New Novel</button></a>
        </div>
        <div class="col-6">
            <a asp-controller="AdminPanel" asp-action="CreateGenre"><button class="btn btn-primary w-100">Add New Genre</button></a>
        </div>
    </div>



    <div class="mt-5">
        <h1>Genre List</h1>
        <table id="tables" class="table-bordered table table-stripped">
            <thead>
                <tr>
                    <th>Genre Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var obj in Model)
                    {

                        <tr>
                            <td>@obj.GenreTitle</td>
                            <td>
                                <div class="btn-group" srole="group">
                                    <a asp-controller="GenrePanel" asp-action="Edit" asp-route-id="@obj.GenreId" class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>
                                    <button id="deleteBtn" data-id="@obj.GenreId" class="btn btn-danger mx-2"> <i class="bi bi-trash"></i> Delete</button>

                                </div>

                            </td>
                        </tr>

                    }
                }
                
            </tbody>
        </table>
    </div>
</div>


@section Scripts {
    <script>
        let delBtn = document.querySelectorAll("#deleteBtn");
        
        $(document).ready(function(){
            $(delBtn).on("click", function(){
                let btnId = $(this).data("id");
                var row = $(this).closest('tr');
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeletePost")',
                    data: {id: btnId},
                    success: function(response){
                        if (response == true) {
                            row.remove();
                            console.log("Successfully Deleted");
                        }
                    }

                });
            });
        });
    </script>
}
