html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f5f5f5;
    font-family: "Nunito Sans","Montserrat";
}

.novelBody_bg {
    background-color: #f5f5f5;
}

.seriesTitle {
    font-weight: 700 !important;
    text-transform: capitalize;
    letter-spacing: normal;
    font-size: 1.8rem;
}

.basicSeriesInfo {
}

.basicSeriesInfo, ul {
    list-style-type: none;
    padding-left: 0px;
    text-align: middle;
}

.seriesGenre{
    text-align: middle;
}

.chapterList {
    max-height: 300px;
}

a {
    text-decoration: none;
}
.chapBtn a:hover {
    color: white;
    background-color: black;
}

.chapterList ul li:hover {
    background-color: rgb(26 26 26);
    color: white;
}

.dataTable tbody td, thead th{
    text-align: left !important;
}